@{
    ViewBag.Title = "Elastislide Demo";
}

<h2>Elastislide Demo 1</h2>
<div class="container demo-1">
            <div class="main">
					<h1>Elastislide <span>A Responsive Image Carousel</span></h1>
					<nav class="nav">
						@Html.ActionLink("Demo 1", "Index", "Elastislide")
						@Html.ActionLink("Demo 2", "Index2", "Elastislide")
						@Html.ActionLink("Demo 3", "Index3", "Elastislide")
						@Html.ActionLink("Demo 4", "Index4", "Elastislide")
					</nav>
				<!-- Elastislide Carousel -->
				<ul id="carousel" class="elastislide-list">
					<li><a href="#"><img src="/content/img/small/1.jpg" alt="image01" /></a></li>
					<li><a href="#"><img src="img/small/2.jpg" alt="image02" /></a></li>
					<li><a href="#"><img src="img/small/3.jpg" alt="image03" /></a></li>
					<li><a href="#"><img src="img/small/4.jpg" alt="image04" /></a></li>
					<li><a href="#"><img src="img/small/5.jpg" alt="image05" /></a></li>
					<li><a href="#"><img src="img/small/6.jpg" alt="image06" /></a></li>
					<li><a href="#"><img src="img/small/7.jpg" alt="image07" /></a></li>
					<li><a href="#"><img src="img/small/8.jpg" alt="image08" /></a></li>
					<li><a href="#"><img src="img/small/9.jpg" alt="image09" /></a></li>
					<li><a href="#"><img src="img/small/10.jpg" alt="image10" /></a></li>
					<li><a href="#"><img src="img/small/11.jpg" alt="image11" /></a></li>
					<li><a href="#"><img src="img/small/12.jpg" alt="image12" /></a></li>
					<li><a href="#"><img src="img/small/13.jpg" alt="image13" /></a></li>
					<li><a href="#"><img src="img/small/14.jpg" alt="image14" /></a></li>
					<li><a href="#"><img src="img/small/15.jpg" alt="image15" /></a></li>
					<li><a href="#"><img src="img/small/16.jpg" alt="image16" /></a></li>
					<li><a href="#"><img src="img/small/17.jpg" alt="image17" /></a></li>
					<li><a href="#"><img src="img/small/18.jpg" alt="image18" /></a></li>
					<li><a href="#"><img src="img/small/19.jpg" alt="image19" /></a></li>
					<li><a href="#"><img src="img/small/20.jpg" alt="image20" /></a></li>
				</ul>
				<!-- End Elastislide Carousel -->

				<p><strong>Resize the browser to see how the carousel adapts</strong></p>

				<p class="info"><strong>Example 1:</strong> A minimum of 3 (default) images are always visible.</p>
			</div>
		</div>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		@section loadResources{
		       @Scripts.Render("~/bundles/elastislide")
 
		}
		<script type="text/javascript">
			
			$( '#carousel' ).elastislide();
			
		</script>